<header id="home">
    <div>
        <p>I BELIEVE IN</p>
        <h1>EAT(); SLEEP(); CODE(); REPEAT(); </h1>
    </div>
</header>
<section id="bio">
    <img src="./assets/varsha.jpg" alt="Picture" />
    <article>
        <h2>Varsha Bisht</h2>
        <p> I am a passionate engineer with the degree of Master of Computer Application. I love to code. When I
            tried
            to build web pages ,I got to know about HTML and CSS. I love to design. I like the way I can customize
            web
            pages in the way I want. There are somany options and choices to design.
            <span class="break"></span>
            Currently,I am doing ProGrad Full Stack Development program with FACE.My hardwork and determination will
            be
            my strength.<span class="break"></span>
            I am looking forward to be as perfect as I can be in Full Stack pogram. Hoping for the great
            opportunites in
            the industry. </p>
        <a href="#" class="link-button"> Download My Resume</a>

    </article>
</section>